<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Inicio - Gaint</title>
</head>
<body>
    <header>
        <h3>Whatever</h3>
        <p>See whats new</p>
    </header>
    <nav>
       <h2><a href="http://localhost:3000/" class="logo">Gaint</a></h2>
    <span id="nav-span">
        <a href="http://localhost:3000/login" class="nav-item">Login</a>
        <a href="http://" class="nav-item">Sign Up</a>
        <a href="http://" class="nav-item">Contacto</a>
    </span>
    </nav>

    
   <br><br>

    <h2 class="main-heading">Gaint es tu sistema de control de inventario</h2>
    <p class="subtitle"><i>Sistema open source de control de inventario y otros elementos para pymes

  </i></p>
   <div class="content-wrapper">

   
   

    <section class="content-text">
        <p> Gaint es un sistema enfocado a las pequeñas y medianas empresas que permite a sus usuarios 
            administrar el inventario de su y además dispone de diversas funciones que permiten la administración de su negocio
            
        
        </p>
    </section>

    <section class="content-text">
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Nobis velit iusto itaque corrupti illum officiis ipsa facere eius at, ipsum adipisci
             veniam deleniti facilis accusamus alias nihil laudantium quas harum.</p>
    </section>

    <section class="content-text">
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Nobis velit iusto itaque corrupti illum officiis ipsa facere eius at, ipsum adipisci
             veniam deleniti facilis accusamus alias nihil laudantium quas harum.</p>
    </section>
   </div>

</body>
</html>